{% extends "base.html" %}

{% block body %}
    <div id="yeastMatcher">
        <div id="formContainer" class="row">
            <div id="yeastAdder">
                <h2>Can't find your yeast? Add It.</h2>
                <form id="yeastAdderForm" action="{{ url_for('webapp_blueprint.add_yeast') }}" method="post">
                    {{ yeast_form.csrf_token }}
                    <div class="row form-group">
                        {# <label class="form-label col-4" for="name">Name:</label>
                        <input class="col-8" type="text" id="name" name="name"/> #}
                        <span class='col-4'>{{ yeast_form.name.label }}</span>
                        <div class='col-8'>{{ yeast_form.name(class='form-control') }}</div>
                    </div>
                    <div class="row form-group">
                        <span class='col-4'>{{ yeast_form.brand.label }}</span>
                        <div class='col-8'>{{ yeast_form.brand(class='form-control') }}</div>
                    </div>
                    <div class="row form-group">
                        <span class='col-4'>{{ yeast_form.ideal_low_temp.label }}</span>
                        <div class='col-8'>{{ yeast_form.ideal_low_temp(class='form-control') }}</div>
                    </div>
                    <div class="row form-group">
                        <span class='col-4'>{{ yeast_form.ideal_high_temp.label }}</span>
                        <div class='col-8'>{{ yeast_form.ideal_high_temp(class='form-control') }}</div>
                    </div>
                    <div class="row form-group">
                        <span class='col-4'>{{ yeast_form.min_low_temp.label }}</span>
                        <div class='col-8'>{{ yeast_form.min_low_temp(class='form-control') }}</div>
                    </div>
                    <div class="row form-group">
                        <span class='col-4'>{{ yeast_form.max_high_temp.label }}</span>
                        <div class='col-8'>{{ yeast_form.max_high_temp(class='form-control') }}</div>
                    </div>
                    <div class="row form-group">
                        <span class='col-4'>{{ yeast_form.yeast_type_id.label }}</span>
                        <div class='col-8'>{{ yeast_form.yeast_type_id(class='form-control') }}</div>
                    </div>
                    <div class="row form-group">
                        <span class='col-4'>{{ yeast_form.description.label }}</span>
                        <div class='col-8'>{{ yeast_form.description(class='form-control') }}</div>
                    </div>

                    <input class="form-button col-2" type="submit"/>
                </form>
            </div>
            <div id="yeastPicker">
                <h2>Choose Yeasts to Compare.</h2>
                <form id="yeastCompareForm" action="{{ url_for('webapp_blueprint.compare_yeast') }}" method="POST">
                    <div class="form-group row">
                        <div class="col-4">{{ compare_form.yeast_one.label }}</div>
                        <div class="col-8">{{ compare_form.yeast_one(class="form-control") }}</div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">{{ compare_form.yeast_two.label }}</div>
                        <div class="col-8">{{ compare_form.yeast_two(class="form-control") }}</div>
                    </div>

                    <input class="form-button col-2" type="submit"/>
                </form>
            </div>
        </div>
        <div id="resultsContainer">
            {% if match_results is not none %}
                {% include 'partials/yeast_match_results.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
