{% extends "base.html" %}

{% block body %}
    <div id="yeastMatcher">
        <div id="formContainer" class="row">
            <div id="yeastAdder">
                <h2>Can't find your yeast? Add It.</h2>
                <form id="yeastAdderForm" action="{{ url_for('webapp_blueprint.add_yeast') }}">
                    {{ yeast_form.csrf_token }}
                    <div class="row">
                        {# <label class="form-label col-4" for="name">Name:</label>
                        <input class="col-8" type="text" id="name" name="name"/> #}
                        <span class='col-4'>{{ yeast_form.name.label }}</span>
                        {{ yeast_form.name(class='col-8') }}
                    </div>
                    <div class="row">
                        <span class='col-4'>{{ yeast_form.brand.label }}</span>
                        {{ yeast_form.brand(class='col-8') }}
                    </div>
                    <div class="row">
                        <span class='col-4'>{{ yeast_form.ideal_low_temp.label }}</span>
                        {{ yeast_form.ideal_low_temp(class='col-8') }}
                    </div>
                    <div class="row">
                        <span class='col-4'>{{ yeast_form.ideal_high_temp.label }}</span>
                        {{ yeast_form.ideal_high_temp(class='col-8') }}
                    </div>
                    <div class="row">
                        <span class='col-4'>{{ yeast_form.min_low_temp.label }}</span>
                        {{ yeast_form.min_low_temp(class='col-8') }}
                    </div>
                    <div class="row">
                        <span class='col-4'>{{ yeast_form.max_high_temp.label }}</span>
                        {{ yeast_form.max_high_temp(class='col-8') }}
                    </div>
                    <div class="row">
                        <span class='col-4'>{{ yeast_form.description.label }}</span>
                        {{ yeast_form.description(class='col-8') }}
                    </div>
                    {# <div class="row">
                        <span class='col-4'>{{ yeast_form.yeast_type_id.label }}</span>
                        {{ yeast_form.yeast_type_id(class='col-8') }}

                        </select>
                    </div> #}
                    <input class="form-button col-2" type="submit"/>
                </form>
            </div>
            <div id="yeastPicker">
                <h2>Choose Yeasts to Compare.</h2>
                <form id="yeastPickerForm" action="{{ url_for('webapp_blueprint.compare_yeast') }}">
                    <select class=" col-7" id="yeast_one">
                    {# options #}
                    </select>
                    <label class="form-label col-4" for="yeast_two">Yeast Two:</label>
                    <select class=" col-7" id="yeast_two">
                    {# options #}
                    </select>
                    <input class="form-button col-2" type="submit"/>
                </form>
            </div>
        </div>
        <div id="resultsContainer">

        </div>
    </div>
{% endblock %}
